<section class="background">
    <h2 class="title">Hello, Welcome Back!</h2>
    <section>
      <form method="post" action="/login" class="form">
        <label for="email"></label>
        <input type="email" name="email" id="email" placeholder="Email Address" class="input">
        <br>
        <label for="password" action="/password"></label>
        <input type="password" name"password" id="password" placeholder="Password" class="input">
        <br>
        <a href="www.google.ca" class="input">Forgot your password?</a>
        <br>
        <button type="button" class="btn">Log In</button>
      </form>
    </section>
</section>